*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:Tahoma, sans-serif;
}

body{
  background:#1b1333d9;
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:16px;
}

.container{
  width:100%;
  max-width:1100px;
}

h1{
  text-align:center;
  margin-bottom:20px;
  color: wheat;
  font-weight:  500;
  /* background: #ffffff; */
}

/* ===== Mobile First ===== */
.grid{
  display:grid;
  grid-template-columns:1fr;
  gap:16px;
}

.card{
  background:#f1f2ee;
  padding:20px;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,.15);
  display:flex;
  flex-direction:column;
  gap:10px;
}

label{
  font-weight:bold;
  font-size:16px;
}

input,select{
  padding:10px;
  border-radius:10px;
  border:1px solid #10080c;
  outline:none;
  font-size:15px;
  font-weight:600;
}

input:focus,select:focus{
  border-color:#3b82f6;
}

button{
  margin-top:10px;
  padding:12px;
  border:none;
  background:#3b82f6;
  color:white;
  border-radius:10px;
  cursor:pointer;
  font-weight:bold;
  transition:.2s;
}
.loop{

}
.loop > .loop-i{
  
background-color: #f1f2ee;
  
border-radius: 12px;
  
height: 82px;
  
font-family: system-ui;
  
font-weight: 9000;
  
color: #544c4c;
}


/* ===== Tablet ===== */
@media (min-width:768px){
  .grid{
    grid-template-columns:1fr 1fr;
    gap:24px;
  }

  .card{
    padding:28px;
    border-radius:26px;
  }

  label{ font-size:18px; }
  input,select{ font-size:16px; }
}

/* ===== Laptop ===== */
@media (min-width:1024px){
  body{ padding:40px; }

  .grid{
    grid-template-columns:1fr 1fr;
    gap:32px;
  }

  .card{
    padding:40px;
    border-radius:30px;
  }

  label{ font-size:20px; }
  input,select{ font-size:17px; }
}

/* ===== Large screens ===== */
@media (min-width:1280px){
  .container{ max-width:1200px; }
}